BACKEND__RUN__PORT=8000

BACKEND__APP__ORIGINS=["http://localhost", "http://localhost:8000"]

BACKEND__DB__USER=postgres
BACKEND__DB__PASSWORD=postgres
BACKEND__DB__HOST=db
BACKEND__DB__PORT=5430
BACKEND__DB__NAME=postgres

BACKEND__DB__ECHO=False
BACKEND__DB__ECHO_POOL=False
BACKEND__DB__POOL_SIZE=5
BACKEND__DB__MAX_OVERFLOW=10

BACKEND__SENTRY__DSN=
BACKEND__SENTRY__ENVIRONMENT=development

# LLM провайдер: yandex | openai
BACKEND__MC__PROVIDER=openai
BACKEND__MC__TEMPERATURE=0.6
BACKEND__MC__INSTRUCTION="Ваш системный промпт здесь" # По умолчанию стоит SYSTEM_PROMPT в app.core.config
BACKEND__MC__TIMEOUT=360

# Yandex Cloud (при BACKEND__MC__PROVIDER=yandex)
BACKEND__YC__FOLDER_ID=key
BACKEND__YC__OAUTH_TOKEN=key # https://yandex.cloud/ru/docs/iam/concepts/authorization/oauth-token
BACKEND__YC__MODEL_NAME=yandexgpt

# OpenAI (при BACKEND__MC__PROVIDER=openai)
BACKEND__OPENAI__API_KEY=sk-...
BACKEND__OPENAI__BASE_URL=https://api.openai.com/v1
BACKEND__OPENAI__MODEL_NAME=gpt-4o-mini
